/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5 {
  color: white;
}


li {
  color: lightgrey;
}

body {
  background: black;
  padding: 2rem;
}
