<h1>Librería</h1>
<br>
<hr>
<section class="components">
  <section class="lib-company-button">
    <code>
      <ul>
        <h4>Nombre del componente</h4>
        <li>
          lib-company-button
        </li>
      </ul>
      <ul>

        <h4>Propiedades del componente</h4>
        <li>
          <span>[title]</span>="<span>string</span>"
        </li>
        <li>
          <span>[link]</span>="<span>string</span>"
        </li>
        <li>
          <span>[isExternal]</span>="<span>boolean</span>"
        </li>
      </ul>
      <br>
      <lib-company-button [title]="'My portfolio'" [isExternal]="true"
                          [link]="'https://jacksonjao.github.io/'"></lib-company-button>
    </code>
  </section>

</section>
