@import "styles/index.scss";

.container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;

}

.components {
  margin-left: $big-space*2;
  margin-right: $big-space*2;
  margin-bottom: $big-space*2;

}

ul {
  list-style: none;
  margin-top: $medium-space;
}


span {
  color: coral;

  &:last-of-type {
    color: green;

  }
}

hr {
  margin-top: $big-space;
}








